.footer {
  top: 100vh ;
  background-color: #35393c;
  display: flex;
  flex-direction: column-reverse;
  position: sticky;
  bottom: 0;
  padding-bottom: .35rem;
  margin-top: 3rem;
  line-height: 5rem;
}

.lista-enlaces, .redes-sociales {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  color: black;
  margin: .25rem 0;
}

a.link {
  font-size: large;
  color: #f2f3f7;
}

.footer-item a:hover {
  color: #2accbf;
}
