main {
    display: flex;
    position: relative;
    max-width: 1200px;
    margin:auto;
    padding: 0 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0  250px  ;
  }

table.paper .error{
    font-size: small;
    padding-left: 40px;
    color: #900;
}

.pie-de-pagina{
    margin-top: 40px;
    padding: 20px;
    border-top: solid 1px #000;
}

.lista-vacia{
    text-align: center;
    padding: 20px;
    color: #666;
}

.lista-errores {
  background-color: rgba(200, 0, 0, .25);
  position: relative;
  color: darkred;
  border: solid 2px darkred;
  padding: 2rem;
  font-size: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.icono-error {
  margin-right: 1rem;
  font-size: 32px;
}

.exito-flash {
  background-color: rgba(0, 200, 0, .25);
  color: darkgreen;
  border: solid 2px darkgreen;
  padding: 2rem;
  font-size: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.warning-flash {
  background-color: rgba(240, 108, 21, 0.25);
  color: rgb(221, 133, 18);
  border: solid 2px rgb(221, 133, 18);
  padding: 2rem;
  font-size: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
