<footer class="footer">
  <aside class="social">
    <ul class="redes-sociales">
      <li class="footer-item">
        <a href="https://www.Facebook.com/Litlejack" class="link" target="_blank">Facebook</a>
      </li>
      <li class="footer-item">
        <a href="https://www.instagram.com/root3012/" class="link" target="_blank">Instagram</a>
      </li>
      <li class="footer-item">
        <a href="https://www.youtube.com/channel/UCWIxBcuSJnKRgHjQM83-CDA" class="link" target="_blank">YouTube</a>
      </li>
    </ul>
  </aside>
</footer>

