<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %} EasyTrade {% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../static/css/skeuos.css">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/compra.css">
  <link rel="stylesheet" href="../static/css/inicio.css">
  <link rel="stylesheet" href="../static/css/status.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
  {% include 'components/header.html' %}
  {% include 'components/navbar.html' %}

  <main>

    {% with mensajes = get_flashed_messages(with_categories=true) %}
      {% if mensajes %}
        {% for category, msg in mensajes %}
        <div class="{{ category }}-flash">
          <p>
            <ion-icon name="warning-sharp" class="icono-error"></ion-icon>
          </p>
          <div class="mensajes-flash">
              <p>{{ msg }}</p>
          </div>      
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    {% block contenido %}
    <h1>{% block page_title %}{% endblock %}</h1>
    {% endblock%}
  </main>

  {% include 'components/footer.html'%}
</body>

</html>