{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Comprar 
{% endblock %}


{% block page_title %}
Compra/Venta de criptos 
{% endblock %}

{% block contenido %}
{{ super() }}

{% if errores %}
  <div class="lista-errores">
    <p>
      <ion-icon name="warning-sharp" class="icono-error"></ion-icon>
    </p>
    <div class="mensajes-error">
      {% for error in errores %}
        <p>{{ error }}</p>
      {% endfor %}

      {{ form.errors }}
    </div>
  </div>
{% endif %}

<form action="/comprar" method="POST">
  {{ form.csrf_token }}
  {{ form.id() }}

  <div class="left">

    <div class="campo-formulario-from">
      {{ form.moneda_from.label }}
      {{ form.moneda_from }}
    </div>
  
    <div class="campo-formulario-from">
      {{ form.cantidad_from.label}}
      {{ form.cantidad_from }}
    </div>

    <div class="acciones">
      {{ form.consulta_api }}
    </div>
  </div>

  <div class="right">

    <div class="campo-formulario-to">
      {{ form.moneda_to.label}}
      {{ form.moneda_to }}
    </div>

    <div class="moneda-to">
      <label for="cantidad_to">Q:</label>
      <p class="paper-label"> {{ cantidad_to }}</p>
    </div>

    <div class="precio_unitario">
      <label for="precio_unitario">P.U:</label>
      <p class="paper-label"> {{ precio_unitario }}</p>
    </div>

    <div class="acciones">
      {{ form.cancelar }}
      {{ form.guardar }}
    </div>
  </div>

</form>
{% endblock%}

  